.setup {
  text-align: center;
  background: linear-gradient(to right, #61dafb 10%, #aa99ba 80%, #61dafb);
  min-height: 100vh;
}

.setup-logo {
  animation: setup-logo-spin infinite 3s ease-in-out;
  font-size: 10rem;
  pointer-events: none;
}

.setup-logo-money {
  font-size: 4rem;
  animation: setup-logo-money-spin infinite 1.5s ease-in-out;
  pointer-events: none;
}

.setup-header {  
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes setup-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes setup-logo-money-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
