@import '../../variables.scss';
@import './Players.scss';

.level {
  background: blue;
  padding: 6px 5px;
  color: white;
  font-weight: bolder;
  display: grid;
  grid-gap: 0.5vw 0.5vh;
  grid-template-columns: repeat(10, 8vw [col-start]);
  grid-template-rows: repeat(10, 8vh [row-start]);
  text-align: center;
  @media (orientation: portrait) {
    grid-template-columns: repeat(10, 7.5vh [col-start]);
    grid-template-rows: repeat(10, 8vw [row-start]);
  }  
}

.tile {
  width: 80%;
  height: 90%;
  background: green;
  vertical-align: middle;
  line-height: 8vh;
  
  font-size: 40px;
  position: relative;
  border-radius: 90px;
  text-align: center;
  z-index: 1;
  box-shadow: inset 0 0 0 5px sandybrown;
  &--movable {
    box-shadow: inset 0 0 15px 25px gold;
    cursor: pointer;
  }
  @media (orientation: portrait) {
    line-height: 8vw;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 25px;
  }
  @media only screen and (max-width: $mobile) {
    font-size: 13px;
  }
}

.path {
  background: burlywood;
  position: absolute;
}

.north,
.south {
  width: 1rem;
  left: 30%;
  height: 25%;
  border-right: 5px ridge brown;
  border-left: 5px ridge brown;
  @media only screen and (max-width: 800px) {
    width: 0.5rem;
  }
}

.south {  
  bottom: -15%;
}

.north {
  top: -15%;
}

.west,
.east {
  width: 25%;
  top: 30%;
  height: 1rem;
  border-top: 5px ridge brown;
  border-bottom: 5px ridge brown;
  @media only screen and (max-width: $mobile) {
    height: 0.4rem;
  }
}

.west {  
  left: -15%;
}

.east {
  right: -15%;
}

.home,
.player {
  @each $color in $player-colors {
    &--#{$color} {
      color: $color;
    }
  }
}

.secret {
  &::after,
  &::before {
    content: "🔀🔀🔀";
    font-size: 18px;
    position: absolute;
    z-index: -1;
    @media only screen and (max-width: $tablet) {
      content: '';
    }
  }
  &::before {
    transform: rotate(90deg) translateY(20px);
  }
  &::after {    
    transform: rotate(270deg) translateY(-35px);
  }
}