@import '../../variables.scss';

$player-colors: (blue, black, yellow, white, red, tan, cyan, lightgray);

.players {
  display: inline-flex;
  width: 98vw;
  flex-flow: row;
  justify-content: space-evenly;
  @media (orientation: portrait) {
    width: 98vh;
  }  

  .player {  
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
    padding: 2px 5px;
    @media only screen and (max-width: $mobile) {
      font-size: 12px
    }
  
    @each $color in $player-colors {
      &--#{$color} {
        border: 5px solid $color;
      }
    }
    &--active {
      box-shadow: 0 0 5px 8px gold;
    }
  }
  .money {
    margin-left: 5px;
    vertical-align: top;
    font-size: small;
  }
}